<%- include('./Partials/_head') %>


<body>
    <img class="moon" src="../images/Mars1.png">
    <img class="rocket" src="../images/Rocket1.png">
    <h2 class="departure">FROM EARTH TO MARS</h2>
    <h3 class="departure">Chose Departure</h3>
    <h5 class="departure2">Departures:</h5>

    
    <a href="/booking/departureOne"> <h4>16 Oct 2120 12:35PM</h4> </a><br>
    <a href="/booking/departureTwo"> <h4>17 Nov, 2120 3:45PM</h4> </a><br>    
    <a href="/booking/departureThree"> <h4>14 Dec, 2120 4:20PM</h4> </a><br>  
    






</body>
</html>