<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/_head') %>
</head>
<body>
    <h1>FROM EARTH TO MARS</h1>
    <h2>Chose your Departure</h2>
    <h5>Departures</h5>


    <% if(items) { %>
        <% items.forEach (e => { %>
        
        <%= e.time %><br>

        <form action="/booking/suit" method="post" class="form">
            <input hidden type="text" name="flightSchedule" id="flightSchedule" value="<%= e.time %>">
            <button type="submit" class="waves-effect waves-light btn">Confirm Departure</button>
            </form> 
        <% })} %>
    



</body>
</html>