<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/_head') %>
</head>
<body>
    <!-- <body style="background-image:url(http://localhost:3000/images/MainBG.png); max-width: 100vh;background-size: 100%;background-color: #031926;"></body> -->
    <h1>SELECT CABIN</h1>
    <div class="card" style="width: 20rem;">
        <img id="card-image" src="../../../images/DoubleCabin.png" class="card-img-top" alt="Card image cap" style="height:350px;">
        <div class="card-body">
            <form action="/booking/cabin/<%= user %>/edit?_method=PUT" method="post">
                <label>
                    <input hidden type="radio" name="test" value="Single" checked>
                    <img src="../../../images/SingleCabin.png" style="height:50px; width:55px;">
                </label>
                <label>
                    <input hidden type="radio" name="test" value="Double" checked>
                    <img src="../../../images/DoubleCabin.png" style="height:50px; width:55px;">
                </label>
                <label>
                    <input hidden type="radio" name="test" value="Delux" checked>
                    <img src="../../../images/PentCabin.png" style="height:50px; width:55px;">
                </label>
                
                <div>
                    <p>Single  &nbsp; Double &nbsp; Delux &nbsp;</p> 
                </div>
                
                <input type="checkbox" name="cabin" id="cabin" value="Single" style="margin: 20px;">
                <input type="checkbox" name="cabin" id="cabin" value="Double" style="margin: 20px;">
                <input type="checkbox" name="cabin" id="cabin" value="Delux" style="margin: 20px;"><br>
    
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-card-secondary">Learn More</a><button type="submit" class="waves-effect waves-light btn btn btn-primary btn-card-primary">Select</button>
                </div>
                
                <!-- <a href="#" class="btn btn-primary btn-card-secondary">Learn More</a><button class="btn btn-primary btn-card-primary" type="submit" class="waves-effect waves-light btn">SELECT</button> -->
            </form> 
        </div>
    </body>
    </html>
    



