<%- include('./Partials/_head') %>
<!-- <body style="background-image:url(http://localhost:3000/images/MainBG.png); max-width: 100vh;background-size: 100%;background-color: #031926;"></body> -->


<%= updatedUser.diet%>