<head>
    <%- include('./partials/_head') %>
</head>

<body>
    
</body>

    <h1>Discovery</h1>

        <div class="card" style="width: 20rem;">
            <img id="card-image" src="../images/SubOrbital.png" class="card-img-top" alt="Card image cap" style="height:190px;">
            <div class="card-body">
                <h5 class="card-title">SUB-ORBITAL</h5>
                <p class="card-text">Upon launch the Andromeda Sub Orbital luxury hotel brings travelers into space quickly and safely, witnessing spectacular views of the blue planet. During this 12 day journey, you will fly at a height of 200 miles above the earth’s surface giving you the unique opportunity to see an average of 16 sunrises and sunsets within 24 hours.</p>
                <a href="#" id="learn" class="btn btn-primary">Learn More</a>
                <a href="/booking" class="btn btn-primary">Book Now</a>
        </div>
        </div>
        <br>
        <div class="card" style="width: 20rem;">
            <img id="card-image" src="../images/SubOrbital.png" class="card-img-top" alt="Card image cap" style="height:190px;">
            <div class="card-body">
                <h5 class="card-title">SUB-ORBITAL</h5>
                <p class="card-text">Upon launch the Andromeda Sub Orbital luxury hotel brings travelers into space quickly and safely, witnessing spectacular views of the blue planet. During this 12 day journey, you will fly at a height of 200 miles above the earth’s surface giving you the unique opportunity to see an average of 16 sunrises and sunsets within 24 hours.</p>
                <a href="#" id="learn" class="btn btn-primary">Learn More</a>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>

        <div class="card" style="width: 20rem;">
            <img id="card-image" src="../images/SubOrbital.png" class="card-img-top" alt="Card image cap" style="height:190px;">
            <div class="card-body">
                <h5 class="card-title">SUB-ORBITAL</h5>
                <p class="card-text">Upon launch the Andromeda Sub Orbital luxury hotel brings travelers into space quickly and safely, witnessing spectacular views of the blue planet. During this 12 day journey, you will fly at a height of 200 miles above the earth’s surface giving you the unique opportunity to see an average of 16 sunrises and sunsets within 24 hours.</p>
                <a href="#" id="learn" class="btn btn-primary">Learn More</a>
                <a href="#" class="btn btn-primary">Book Now</a>
        </div>
        </div>

<!-- Mars page -->

        <h2>MARS</h2>
        <div class="card" style="width: 20rem;">
            <img id="card-image" src="../images/SubOrbital.png" class="card-img-top" alt="Card image cap" style="height:190px;">
            <div class="card-body">
                <h5 class="card-title">ACTIVITIES ONBOARD</h5>
                <h6 class="card-text">LEARN MORE</h6>
        </div>
