<div class="home">
    <link rel="stylesheet" href="/styles/main.css">
  
    <h2> SPACE API TEST  </h2>
    

    Travel to Mars? 
    <button type="submit" class="waves-effect waves-light btn"> <a href="/booking">Take me to the Mars!</a>  </button>
    
