<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/_head') %>
</head>
<body>
    <h1>learn About mars page </h1>
    1) Named after the Roman God of war, Mars is the fourth planet from the sun in our solar system.

    2) Mars is also known as the ‘Red Planet’ because, well, it’s red! This signature colour comes from the large amount of a chemical called iron oxide (or ‘rust’ as you might know it) in its rocks and soil.
    
    3) Mars is the second smallest planet in the solar system after Mercury. With a diameter (distance through the middle) of 6,791 kilometres, it’s roughly half the size of Earth.

    4) It can get pretty cold on Mars –– much colder than our own planet, since it’s further away from the sun. At the equator, temperatures can reach 20°C, but at its poles they can plummet to as low as -140°C. Brr!
    
    5)  Mars is home to the highest mountain in our solar system –– a volcano called Olympus Mons. Standing a whopping 24 kilometres high, it’s about three times the height of Mount Everest!

Did you know…? There are bits of Mars here on Earth! In the past, asteroids hit the Red Planet, sending debris into space. Some of this debris landed on our planet as meteorites.

6) You could jump around three times higher on Mars than you can on Earth. Boing! This is because the planet’s gravity – the force that keeps us on the ground – is much weaker.


</body>
</html>