<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/_head') %>
</head>
<body>

 
    <h1>SELECT SUIT </h1>


    <div class="card" style="width: 20rem;">
    <img id="card-image" src="../images/Suit_Front_Sample.png" class="card-img-top" alt="Card image cap" style="height:350px;">
    <div class="card-body">
        <form action="/booking/<%= userId %>/edit?_method=PUT" method="post">
            <label>
                <input hidden type="radio" name="test" value="RED" >
                <img src="../images/Suit_Red_Portrait.png" style="height:50px; width:55px;">
            </label>
            <label>
                <input hidden type="radio" name="test" value="WHITE" >
                <img src="../images/Suit_White_Portrait.png" style="height:50px; width:55px;">
            </label>
            <label>
                <input hidden type="radio" name="test" value="YELLOW" >
                <img src="../images/Suit_Yellow_Portrait.png" style="height:50px; width:55px;">
            </label>
            <label>
                <input hidden type="radio" name="test" value="BLUE" >
                <img src="../images/Suit_Blue_Portrait.png" style="height:50px; width:55px;">
            </label>
            <br>
            <input type="checkbox" name="suitecolor" id="suitecolor" value="RED" style="margin: 20px;">
            <input type="checkbox" name="suitecolor" id="suitecolor" value="WHITE" style="margin: 20px;">
            <input type="checkbox" name="suitecolor" id="suitecolor" value="YELLOW" style="margin: 20px;">
            <input type="checkbox" name="suitecolor" id="suitecolor" value="BLUE" style="margin: 20px;"><br>



            <label>
                <input hidden type="radio" name="test" value="SMALL">
                <img src="../images/sizeS.png" style="height:50px; width:55px;">
            </label> 
                <input hidden type="radio" name="test" value="MEDIUM" >
                <img src="../images/sizeM.png" style="height:50px; width:55px;">
            </label>  
                <input hidden type="radio" name="test" value="LARGE" >
                <img src="../images/sizeL.png" style="height:50px; width:55px;">
            </label><br>
            <input type="checkbox" name="suitesize" id="suitesize" value="SMALL" style="margin: 20px;">
            <input type="checkbox" name="suitesize" id="suitesize" value="MEDIUM" style="margin: 20px;">
            <input type="checkbox" name="suitesize" id="suitesize" value="LARGE" style="margin: 20px;">
        

            <button type="submit" class="waves-effect waves-light btn" style = "background-color: #7649fe">Confirm Suit</button>
        </form> 
    </div>
</body>
</html>


