body {
    font-family: 'Oswald', sans-serif;
    background-color: #031926;
    background-image: url("../images/MainBG.png") !important;
    max-width: 100vh; 
    height: auto; 
    background-color: #031926;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 100%;
    text-align: center;
    color: #f8f9fa;

    
}
h1 {
    color: #ffff !important;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    color: #ffff !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-align: center;
}

/* Remove borader line from nave bar */
.navbar-light,
.navbar-toggler{
    border-color: rgb(235, 228, 228);

}

/* .navbar-light, */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


button {
    background-color: white;
}





.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}

.collapse .navbar-collapse {
        background-color: #f8f9fa !important;
    }

    .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: white !important;
    }

/* DISCOVERY */
/* Change the edges of the card  */

.card {
    margin: 0 auto;
    float: none;
    margin-top: 20px;
    text-align: left;
    border-top-left-radius: calc(.5rem + 2px);
    border-top-right-radius: calc(.5rem + 2px);
    border: none;
    /* padding-bottom: 2px; */

}

.card-img, 
.card-img-top {
    border-top-left-radius: calc(.5rem + 2px);
    border-top-right-radius: calc(.5rem + 2px);
}


H4 {
    color: #f8f9fa;
}
p {
    color: #031926;
}

.card-title {
    color: #031926 !important;
    font-weight: bold;
}


/* Aligh Booking  */
.departure {
    text-align: left;
    margin-left: 20px;
}
.departure2 {
    text-align: left;
    margin-left: 80px;
    color: #7649FE;
    padding: 10px;
}


/* .col-md-4{ margin: 20px auto; }  */

form {
    color: white !important;
}


/* Format Buttons */
.btn {
    color: white;
    background-color: #7649FE;
    width: 100%;
    
    
}

#learn {
    color: #7649FE;
    background-color: white;
}





#suitimage {
    width: 30px;
    height: 30px;
}

/* [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  /* [type=radio] + img {
    cursor: pointer;
  } */
  
  /* CHECKED STYLES */
  /* [type=radio]:checked + img {
    outline: 2px solid #f00;
  } */ 


.moon {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.rocket {
    display: block;
    margin-left: auto;
    margin-right: auto;

}